<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>EXAMPLE APP</title>
</head>
<body>
    <div>
        <img src="images/image.png" width="50px" alt="Travel Logo"> 
    </div>
  {{{body}}}
</body>
</html>